/* Using fonts: Montserrat, Inter, Roboto */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500;700&family=Roboto:wght@400;500&display=swap');

:root{
    --header-height: 46px;
}

html{
    font-family: 'Inter', sans-serif;
}

body{
    background: var(--color-bg);
    padding: 0;
    margin: 0;
    color: var(--color-gray-l5);
    font-size: 22px;
}

a{
    color: inherit;
    text-decoration: none;
}

.wrapper{
    max-width: 1200px;
    height: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

header{
    border-bottom: 1px solid var(--color-gray-l);
    height: var(--header-height);
}

header .wrapper{
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo > a:first-child{
    display: flex;
    align-items: center;
}

header .logo img{
    margin: 0 6px 0 0
}

header .logo .g_btn{
    margin-left: 6px;
}

header .menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header .menu .item{
    cursor: pointer;
    border-radius: var(--border-radius);
    width: 32px;
    height: 32px;
    margin: 0 0 0 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu .item.active,
header .menu .item:hover{
    background: var(--color-gray);
}

header .menu .profile{
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 2px;
    margin: 0 0 0 22px;
    display: flex;
    align-items: center;
}

header .menu .profile.active,
header .menu .profile:hover{
    background: var(--color-gray-d);
}

header .menu .profile img{
    height: 32px;
    width: 32px;
}

header .menu .profile .chevron{
    background: var(--color-gray);
    width: 10px;
    height: 5px;
    margin: 0 0 0 5px;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

header .menu .profile:hover .chevron{
    background: var(--color-gray-l);
}

main{
    padding: 40px 0;
}