.g_modules_list{
    border-left: 2px dashed var(--color-gray-l);
    padding: 0 0 0 29px;
    margin: 24px 0 0;
}

.g_modules_list [data-module]{
    margin: 0 0 46px;
}
.g_modules_list [data-module].closed{
    margin-bottom: 20px;
}

.g_modules_list .module_name{
    border-radius: var(--border-radius);
    background: var(--color-gray-d);
    padding: 7px 18px;
    margin: 0 0 32px -41px;
    box-sizing: border-box;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.g_modules_list [data-module].closed .module_name{
    width: calc(100% + 41px);
    padding: 16px 18px;
    margin-bottom: 0;
}

.g_modules_list .module_name .open_date{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.g_modules_list .module_name .open_date img{
    margin: 0 0 0 10px;
}

@media only screen and (max-width: 900px) {
    .g_modules_list{
        border-left: none;
        padding: 0;
        margin: 24px 0 0;
    }

    .g_modules_list [data-module]{
        margin-bottom: 28px;
    }

    .g_modules_list .module_name{
        margin: 0 0 20px 0;
    }

    .g_modules_list [data-module].closed{
        margin-bottom: 8px;
    }

    .g_modules_list [data-module].closed .module_name{
        width: 100%;
    }
}