.g_tva_small_test {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-tva-gray-l2);
}

.g_tva_small_test .progress {
    padding: 35px 28px 0;
    text-align: center;
}

.g_tva_small_test .progress > span {
    border-radius: var(--border-radius-l);;
    background: var(--color-tva-gray-l);
    width: 25px;
    height: 16px;
    display: inline-block;
    box-sizing: border-box;
}

.g_tva_small_test .progress > span:not(:last-child) {
    margin-right: 5px;
}

.g_tva_small_test .progress > span.blue {
    border: 2px solid var(--color-tva-blue-l);
}

.g_tva_small_test .progress > span.green {
    background: var(--color-tva-util-green);
}

.g_tva_small_test .progress > span.red {
    background: var(--color-tva-red);
}

.g_tva_small_test .test h2.g_tva_title {
    margin: 32px 0 45px;
}

.g_tva_small_test .test .form {
    padding: 0 28px;
}

.g_tva_small_test .test .form .option:not(:last-child) {
    margin-bottom: 25px;
}

.g_tva_small_test .test .form .option input {
    width: 20px;
    margin: 0 5px 0 0;
}

.g_tva_small_test .test .form .option .helpText {
    margin: 5px 0 0 0;
    padding: 0 0 0 30px;
    font-size: 16px;
}

.g_tva_small_test .test .form .option .helpText.green {
    color: var(--color-tva-util-green)
}

.g_tva_small_test .test .form .option .helpText.red {
    color: var(--color-tva-parts-red-l)
}

.g_tva_small_test .test .actions {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background: var(--color-tva-gray-d2);
    margin: 45px 0 0 0;
    padding: 18px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.g_tva_small_test .test .actions button {
    cursor: pointer;
    border-radius: var(--border-radius-s);
    color: var(--color-tva-white);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.g_tva_small_test .test .actions button[data-action="next"] {
    display: none;
}

.g_tva_small_test .test .actions.ready_next button[data-action="next"] {
    display: block;
}

.g_tva_small_test .test .actions.ready_next button:first-child {
    display: none;
}

.g_tva_small_test .test .actions button:not(:last-child) {
    background: var(--color-tva-blue);
    padding: 12px 92px;
}

.g_tva_small_test .test .actions button:last-child {
    border: 1px solid var(--color-tva-gray-l);
    background: none;
    padding: 12px 28px;
}

.g_tva_small_test .test .actions button:last-child img {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}