@media only screen and (max-width: 900px) {
    .page_lesson .go_back {
        margin: 0 0 15px 0;
    }

    .page_lesson .go_back span {
        display: inline-block;
    }

    .page_lesson .go_back .icon {
        margin: 0 10px 0 0;
    }

    .page_lesson .lesson_img {
        border-radius: 0;
        width: calc(100% + 24px);
        margin: 0 0 20px -12px;
    }

    .page_lesson h1.g_tva_title {
        margin-bottom: 28px;
    }

    .page_lesson .tva_chat {
        margin-top: 28px;
    }

    .page_lesson .tva_chat .msg_tv + .msg_user_variant {
        margin-top: 25px;
    }

    .page_lesson .tva_chat .msg_user_variant + .msg_tv {
        margin-top: 25px;
    }

    .page_lesson .tva_chat [data-action="go_next"],
    .page_lesson [data-action="start_test"] {
        margin-top: 25px;
    }
}