.page_main {
    justify-content: space-between;
}

.page_main main {
    margin: 0 40px 0 0;
}

.page_main .info_main {
    border-radius: var(--border-radius);
    background: var(--color-tva-pink);
    padding: 24px;
    color: var(--color-tva-black);
    font-size: 22px;
}

.page_main .info_main .g_tva_title {
    margin: 16px 0 38px;
}

.page_main .info_main .g_tva_btn {
    width: 100%;
    max-width: 376px;
}

.page_main .info_telegram {
    border: 1px solid var(--color-tva-gray-l);
    border-radius: var(--border-radius);
    padding: 18px 16px;
    margin: 14px 0 0;
    display: block;
    position: relative;
}

.page_main .info_telegram .g_tva_title {
    margin: 0 0 16px;
}

.page_main .info_telegram p {
    margin: 0;
}

.page_main .info_telegram a {
    text-decoration: underline;
}

.page_main .info_telegram a:hover {
    color: var(--color-tva-blue-l);
}

.page_main .info_telegram img {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 14px;
    right: 16px;
}

.page_main .course_structure {
    margin: 43px 0 0;
}

.page_main aside {
    width: calc(100% - 700px - 40px);
    min-width: 300px;
}

.page_main aside > .g_tva_title {
    margin-bottom: 20px;
}

.page_main aside img {
    width: 36px;
    height: 36px;
}

.page_main aside .progress {
    border-radius: 13px;
    background: var(--color-tva-gray);
    height: 16px;
    margin: 0 12px;
    overflow: hidden;
    flex-grow: 1;
}

.page_main aside .progress .fill {
    border-radius: 13px;
    background: var(--color-tva-blue-l);
    width: 15%;
    height: 100%;
    display: block;
}

.page_main aside .counters {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.page_main aside .counters > span {
    margin: 0 16px 0 0;
}

.page_main aside .counters .value {
    font-size: 22px;
    font-weight: 700;
}